@model MVC.Models.ApiAllDetails
@using System.Text;
@using MVC.Models.Viewmodels;

<style>

    #lbloption[data-toggle="active"]{

    }

</style>

@section scripts{
    <script>

        $(() => {
            $('#optionapi').prop('checked', true).addClass("active"); 
            //$('#optionpref').removeClass("active");
            $('#optionapi')

             
        });
       
        Array.prototype.select = function (closure) {
            for (var n = 0; n < this.length; n++) {
                if (closure(this[n])) {
                    return this[n];
                }
            }

            return null;
        };

        $('#btnSearch').click(function () {
            var searchString = $("#msg").val();
            if (searchString) {
                alert("hello - search click " + searchString);
                var td = $('table tbody tr td');

                var re = new RegExp(searchString, "i");

                $(td).find("label").each(function () {
                    //console.log($(this)[0].innerHTML);

                    if ($(this)[0].innerHTML.match(re)) {
                        console.log("MATCHED: " + $(this)[0].innerHTML);
                    }
                });

            }
            else {
                alert("Enter search string");
            }
            
            
        });

    </script>
}
@{

    string url = "http://localhost:50839";

    if (Model != null)
    {
        <h3 class="jumbotron">Workbook Details: <span class=".bg-primary">@Model.Workbook</span></h3>
        if (Model.WbPreferencesAndApiCalls != null)
        {

            <a href="javascript:void(0);" onclick="history.go(-1);">Back to Details</a>
            <br /><br />
            
            <div class="row">
                <div class="btn-group col-lg-2" data-toggle="buttons">
                    <label id="lbloption" class="btn btn-primary" data-toggle="active">
                        <input type="radio" name="options" id="optionapi"> Api
                    </label>
                    <label id="lbloption" class="btn btn-primary btn-default" data-toggle="na">
                        <input type="radio" name="options" id="optionpref"> Preference
                    </label>
                </div>
                <div class="input-group col-lg-3 left">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input id="msg" type="text" class="form-control" name="msg" placeholder="search string">
                </div>
                <div class="col-lg-3">
                    <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                </div>
            </div>
            <br />

            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-sm-6">Preferences</th>
                        <th class="col-sm-6">Api Calls</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (KeyValuePair<string, string> kvp in Model.WbPreferencesAndApiCalls)
                    {
                        <tr class="row">
                            <td>@Html.Label(kvp.Key, new { @class = "col-sm-6" })</td>
                            <td>
                                @if (kvp.Value != null)
                                {
                                    List<string> apis = kvp.Value.Split(new char[] { '`' }).ToList();
                                    StringBuilder sb = new StringBuilder();


                                    foreach (string api in apis)
                                    {
                                        var criteria = new SearchCriteria
                                        {
                                            Workbook = Model.Workbook,
                                            SearchOn = "api",
                                            SearchList = new List<string> { { api } }
                                        };
                                        <span>&nbsp;</span>

                                        using (Html.BeginForm("searchapi", "workbook", FormMethod.Post, new { @style = "display:inline-block;" }))
                                        {

                                            @Html.Hidden("workbook", Model.Workbook);
                                            @Html.Hidden("searchOn", "apicall");


                                            for (int i = 0; i < criteria.SearchList.Count; i++)
                                            {
                                                var sApi = criteria.SearchList[i];
                                                @Html.Hidden("SearchList[" + i + "]", sApi);
                                            }


                                            <button type="submit" class="badge" style="background-color:lightcoral; border:none">@api</button>
                                            //@Html.ActionLink(api, "preferences", criteria, new { @class = "badge", @style = "background-color: lightcoral" });
                                        }
                                    }

                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            Html.Display("<p>No Data to Display</p>");
        }
    }
} 