@model MVC.Models.WbInfoBasedOnApiCall
@using MVC.Models;

@{
    ViewBag.Title = "Api Search View";
}

<script>
    function clicked(obj) {
        var re = /(?:(?!chkBox\[))\d+(?=\])/
        var id = obj.name.match(re);

        $("[name='SearchList[" + id + "]']").name = "_SearchList[" + id + "]";
        //alert($("[name='SearchList[" + id + "]']").val());

    }
</script>
<style type="text/css">
    ol {
        counter-reset: item
    }
    li {
        display: block
    }

    li:before {
        content: counters(item, ".") " ";
        counter-increment: item
    }
</style>
@{
    if (Model != null)
    {
        <div>
            <h1 class="jumbotron">Preference Details for API's</h1>
            <div class="page-header">
                <h4>@Html.DisplayNameFor(model => model.Workbook) : <span class="badge" style="background-color:lightcoral">@Html.DisplayFor(model => model.Workbook)</span></h4>
                <h4>@Html.DisplayNameFor(model => model.Api) : <span class="badge" style="background-color:lightcoral"> @Html.DisplayFor(model => model.Api)</span> is used with following preference file</h4>
            </div>
            <div class="alert-info">                
                @using (Html.BeginForm("searchpreferences", "workbook", FormMethod.Post))
                {
                    @Html.Hidden("SearchOn", "preferences")
                    @Html.Hidden("workbook", Model.Workbook)
                    if (Model.WbPreferences != null)
                    {
                        int i = 0;
                        <ol>
                            @foreach (Preference preference in Model.WbPreferences)
                            {
                                @Html.Hidden("SearchList[" + i + "]", preference.PreferenceName);
                                string name = string.Format($"chkBox[{i++}]");
                                <li>@Html.CheckBox(name, false, new { @onclick = "clicked(this)"}) @preference.PreferenceName</li>

                            }
                        </ol>
                        <input type="submit" class="btn btn-info" value="Submit Button">
                    }
                }
            </div>
            <br />
            <a href="javascript:void(0);" onclick="history.go(-1);">Back to Details</a>

        </div>

    }
}