@using MVC.Models;
@model  List<MVC.Models.ApiBasedOnPreference>


@{
    ViewBag.Title = "Preference Search View";

    if (Model != null)
    {
        <div>
            <h1 class="jumbotron">Preference Search Result</h1>
            <a href="javascript:void(0);" onclick="history.go(-1);">Back to Details</a>
            @foreach (ApiBasedOnPreference apiBasedOnPref in Model)
            {
                <div class="page-header">
                    <h4>@apiBasedOnPref.Workbook : <span class="badge" style="background-color:lightcoral">@apiBasedOnPref.Workbook</span></h4>                    
                </div>
                <div>
                    @foreach (var prefkvp in apiBasedOnPref.PreferenceApiDetails)
                    {   
                        <span>Preference:</span><span class="badge" style="background-color:lightcoral">@prefkvp.Key</span>                        
                        foreach (Api api in prefkvp.Value)
                        {
                            <div class="row">
                                <div class="col-lg-1" style="background-color:lavenderblush;">@Html.Label(api.ApiNumber)</div>
                                <div class="col-lg-11" style="background-color:lavender;">@Html.Label(!string.IsNullOrEmpty(api.ApiDescription) ? " - " + api.ApiDescription : "not available")</div>
                            </div>   
                         }
                       
                    }
                </div>
             }
        </div>

    }
}