@model MVC.Models.WbInfoBasedOnApiCall

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>WbInfoBasedOnApiCall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Workbook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workbook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Api)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Api)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
